* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: 'Ubuntu Light', Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  margin: 13px 12px 0;
}

@media screen and (min-width: 1280px) {
  main {
    margin: 13px 24px 0 12px;
  }
}
