@import url('./animation/translate-model-top.css');
@import url('./animation/levitation.css');

.voice-control__model {
  position: relative;
  width: 279px;
  object-fit: contain;
  transform: scale(1.55);
  object-position: 5px;
  overflow: hidden;
  animation:
    translate-model-top 1.5s backwards 0.7s,
    levitation 2s alternate ease-in-out infinite 2.2s;
  z-index: 1;
}

@media screen and (min-width: 320px) {
  .voice-control__model {
    height: 757px;
    justify-self: center;
  }
}
