.voice-control__box-model {
  position: relative;
  display: flex;
}

@media screen and (min-width: 320px) {
  .voice-control__box-model {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .voice-control__box-model {
    grid-column: 3;
    grid-row: 2/4;
    /* align-self: center; */
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .voice-control__box-model {
    grid-column: 2;
    grid-row: 1/4;
  }
}
